* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7D5B36;

}

html,
body {
    overflow-x: hidden;
}


.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
    border: 2px solid black;
}

.hero-section {
    position: relative;
}

.text-center {
    text-align: center !important;
}

.text {
    position: absolute;
    top: 100px;
    /* text image ke upar kitna niche hoga */
    left: 20px;
    /* left se distance */
    color: white;
    font-size: 24px;
    font-weight: bold;
    color: black;
    max-width: 90%;
    word-wrap: break-word;
}

.text p {
    font-size: 18px;
    color: black;
    font-weight: normal;
}

.heading-section {
    padding: 60px;
}


/*Responsive Design*/
@media (max-width:768px) {

    .hero-img {
        height: auto;
    }

    .text {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .text h1 {
        font-size: 28px;
    }

}
